.row-header{
    margin:0px auto;
    padding:0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:100vh;
}
.footer{
    background-color: #D1C4E9;
    margin:0px auto;
    padding: 20px 0px 20px 0px;
}

.bg{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(img/1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
 }
 h3{font-family: 'Playfair Display', serif;
    font-size: 70px;
 }
 h4{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
 }
 .modal-content{
     color: black;
 }